#include ".cache/wal/colors.Xresources"

! Cursor Theme
Xcursor.theme: Bibata-Modern-Ice

! Urxvt Fonts
URxvt*font:     xft:FiraCode Nerd Font Mono:pixelsize=16:antialias=true:hinting=true:medium
URxvt*boldFont: xft:FiraCode Nerd Font Mono:pixelsize=16:antialias=true:hinting=true:bold
URxvt.letterSpace: -1

URxvt.perl-ext-common: default,selection-to-clipboard,matcher,resize-font,tabbedex,confirm-paste,


! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.clipboard.autocopy: false

! 'selection-to-clipboard' plugin
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
URxvt.keysym.Shift-Control-C: eval:selection-to-clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

! 'matcher' plugin
! Make URLs clickable
! We can middle-click on any url and this will launch the browser
! defined by `URxvt.url-select.launcher`.
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.matcher.button: 1

! 'tabbed' plugin
URxvt.tabbedex.tab-fg: 15
URxvt.tabbedex.tab-bg: 8
URxvt.tabbedex.no-tabbedex-keys: true
URxvt.keysym.Meta-Shift-N: perl:tabbedex:new_tab
URxvt.keysym.Meta-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Meta-Shift-J: perl:tabbedex:move_tab_right
URxvt.keysym.Meta-1: perl:tabbedex:goto_tab_1
URxvt.keysym.Meta-2: perl:tabbedex:goto_tab_2
URxvt.keysym.Meta-3: perl:tabbedex:goto_tab_3
URxvt.keysym.Meta-4: perl:tabbedex:goto_tab_4
URxvt.keysym.Meta-5: perl:tabbedex:goto_tab_5
URxvt.keysym.Meta-6: perl:tabbedex:goto_tab_6
URxvt.keysym.Meta-7: perl:tabbedex:goto_tab_7
URxvt.keysym.Meta-8: perl:tabbedex:goto_tab_8
URxvt.keysym.Meta-9: perl:tabbedex:goto_tab_9
URxvt.keysym.Meta-0: perl:tabbedex:goto_tab_10

! `resize-font` plugin
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus:  resize-font:bigger
URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger
URxvt.keysym.C-Equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.font-size.step: 2

! The default font increase step size is 1. This is for portability across all
! fonts (some fonts do not support particular font sizes). Because changing font
! size only really makes sense for anti-aliased fonts (Terminus is bitmapped),
! and because anti-aliased fonts support any size, it makes sense to just use a
! size step of 4 for faster transitions between font size changes.

 
URxvt.internalBorder: 0
URxvt.externalBorder: 0

! Scrollbar
URxvt.scrollBar: false
URxvt.scrollBar_right: true
URxvt.scrollBar_floating: true
URxvt.scrollstyle: plain

! scroll with output
URxvt.scrollTtyOutput: false
 
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: false

